{{#each todos}}
<li class="todoListItem{{#if isCompleted}} checked{{/if}}" data-id="{{id}}" draggable="true">
    <div class="checkbox{{#if isCompleted}} checked{{/if}} " ></div>
    <p class="listItemText{{#if isCompleted}} checked{{/if}}">
        {{name}}
    </p>
    <img class="listItemCross" src="images/icon-cross.svg" alt="Delete list item"/>
</li>
{{/each}}