body {
    background-color: var(--dThemeVDarkBlue);
    background-image: url("../images/bg-mobile-dark.jpg");
}

:root {
    --dThemeVDarkBlue: hsl(235, 21%, 11%);
    --dThemeVDarkDesatBlue: hsl(235, 24%, 19%);
    --dThemeGrayBlue: hsl(234, 39%, 85%);
    --dThemeLightGrayBlue/*(hover)*/: hsl(236, 33%, 92%);
    --dThemeDarkGrayBlue: hsl(234, 11%, 52%);
    --dThemeVDarkGrayBlue1: hsl(233, 14%, 35%);
    --dThemeVDarkGrayBlue2: hsl(237, 14%, 26%);
}

#toggleThemeButton {
    content: url("../images/icon-sun.svg")
}

.container {
    background-color: var(--dThemeVDarkDesatBlue);
}

.checkbox {
    border: 1px solid var(--dThemeVDarkGrayBlue2);
}

form input,
.todoListItem {
    color: var(--dThemeGrayBlue);
}

form input::placeholder,
#todoListInfo,
.filterText,
footer p {
    color: var(--dThemeDarkGrayBlue);
}

.todoListItem {
    border-bottom: 1px solid var(--dThemeVDarkGrayBlue1);
}

.todoListItem.checked {
    color: var(--dThemeDarkGrayBlue);
}

.listItemText.checked {
    color: var(--dThemeVDarkGrayBlue1);
}

@media only screen and (min-width: 850px) {
    body {
        background-image: url("../images/bg-desktop-dark.jpg")
    }
}