body {
    background-color: var(--dThemeVDarkBlue);
    background-image: url("../images/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
}

.container {
    background-color: var(--dThemeVDarkDesatBlue);
}

.checkbox {
    border: 1px solid var(--dThemeVDarkGrayBlue2);
}

form input,
.todoListItem {
    color: var(--dThemeGrayBlue);
}

form input::placeholder,
#todoListInfo,
.filterText,
footer p {
    color: var(--dThemeDarkGrayBlue);
}

.todoListItem {
    border-bottom: 1px solid var(--dThemeVDarkGrayBlue1);
}