body {
    background-color: var(--lThemeVLightGrayBlue);
    background-image: url("../images/bg-mobile-light.jpg");
}

:root {
    --lThemeVLightGray: hsl(0, 0%, 98%);
    --lThemeVLightGrayBlue: hsl(236, 33%, 92%);
    --lThemeLightGrayBlue: hsl(233, 11%, 84%);
    --lThemeDarkGrayBlue: hsl(236, 9%, 61%);
    --lThemeVDarkGrayBlue: hsl(235, 19%, 35%);
}

#toggleThemeButton {
    content: url("../images/icon-moon.svg")
}

.container {
    background-color: var(--lThemeVLightGray);
}

.checkbox {
    border: 1px solid var(--lThemeLightGrayBlue);
}

form input,
.todoListItem {
    color: var(--lThemeVDarkGrayBlue);
}

form input::placeholder,
#todoListInfo,
.filterText,
footer p {
    color: var(--lThemeDarkGrayBlue);
}

.todoListItem {
    border-bottom: 1px solid var(--lThemeLightGrayBlue);
}

.todoListItem.checked {
    color: var(--lThemeDarkGrayBlue);
}

.listItemText.checked {
    color: var(--lThemeLightGrayBlue);
}

.listItemCross {
    opacity: 0.5;
}

.filterText:hover,
#clearCompleted:hover {
    color: var(--lThemeVDarkGrayBlue);
}

@media only screen and (min-width: 850px) {
    body {
        background-image: url("../images/bg-desktop-light.jpg")
    }
}