@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brightBlue: hsl(220, 98%, 61%);
    --checkBg1: hsl(192, 100%, 67%);
    --checkBg2: hsl(280, 87%, 65%);

    --lThemeVLightGray: hsl(0, 0%, 98%);
    --lThemeVLightGrayBlue: hsl(236, 33%, 92%);
    --lThemeLightGrayBlue: hsl(233, 11%, 84%);
    --lThemeDarkGrayBlue: hsl(236, 9%, 61%);
    --lThemeVDarkGrayBlue: hsl(235, 19%, 35%);

    --dThemeVDarkBlue: hsl(235, 21%, 11%);
    --dThemeVDarkDesatBlue: hsl(235, 24%, 19%);
    --dThemeGrayBlue: hsl(234, 39%, 85%);
    --dThemeLightGrayBlue/*(hover)*/: hsl(236, 33%, 92%);
    --dThemeDarkGrayBlue: hsl(234, 11%, 52%);
    --dThemeVDarkGrayBlue1: hsl(233, 14%, 35%);
    --dThemeVDarkGrayBlue2: hsl(237, 14%, 26%);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

header span {
    letter-spacing: .5rem;
    font-weight: normal;
    font-size: 2rem;
    color: white;
    padding-top: 8px;
    margin: 2rem 0;
}

#toggleThemeButton {
    height: 30px;
    margin: auto 0;
}

.container {
    width: 85%;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem -0.3rem;
    margin: 0 auto 1rem;
    min-height: 2.5rem;
}

form {
    height: 2.5rem;
    display: flex;
    padding-left: .35rem;
}

.checkbox {
    height: 1.15rem;
    width: 1.15rem;
    background-color: transparent;
    border-radius: 50%;
    margin: auto .75rem;
    padding: .25rem;
}

.checkbox.checked {
    background: linear-gradient(135deg, var(--checkBg1), var(--checkBg2));
    content: url(../images/icon-check.svg);
}

form input {
    height: 2.5rem;
    background-color: transparent;
    border: none;
    font-size: .7rem;
}

form input:focus {
    outline: none;
}

#todoListInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
    padding: 0 1rem;
    height: 2.5rem;
}

.todoListItem {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    height: 2.75rem;
    padding: .8rem 0.35rem;
    font-size: .7rem;
}

.todoListItem.checked {
    text-decoration: line-through;
    color: var(--dThemeDarkGrayBlue);
}

.listItemCross {
    height: 1rem;
    width: 1rem;
    margin: auto .75rem;
}

.listItemText {
    height: fit-content;
    margin: auto 0;
    padding-top: 2px;
}

.listItemText.checked {
    color: var(--dThemeVDarkGrayBlue1);
}

#listFilter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 3rem;
    font-size: .9rem;
}

.filterText {
    font-weight: bold;
}

.activeFilter {
    color: var(--brightBlue);
}

footer {
    margin: 2.5rem 0 0;
}

footer p {
    font-size: .7rem;
    text-align: center;
}