@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

:root {
    --brightBlue: hsl(220, 98%, 61%);
    --checkBg1: hsl(192, 100%, 67%);
    --checkBg2: hsl(280, 87%, 65%);

    --lThemeVLightGray: hsl(0, 0%, 98%);
    --lThemeVLightGrayBlue: hsl(236, 33%, 92%);
    --lThemelightGrayBlue: hsl(233, 11%, 84%);
    --lThemedarkGrayBlue: hsl(236, 9%, 61%);
    --lThemeVDarkGrayBlue: hsl(235, 19%, 35%);

    --dThemeVDarkBlue: hsl(235, 21%, 11%);
    --dThemeVDarkDesatBlue: hsl(235, 24%, 19%);
    --dThemeGrayBlue: hsl(234, 39%, 85%);
    --dThemeLightGrayBlue/*(hover)*/: hsl(236, 33%, 92%);
    --dThemeDarkGrayBlue: hsl(234, 11%, 52%);
    --dThemeVDarkGrayBlue1: hsl(233, 14%, 35%);
    --dThemeVDarkGrayBlue2: hsl(237, 14%, 26%);
}

body {
    padding: 1rem;
}

.dThemeBg {
    background-color: var(--dThemeVDarkGrayBlue2);
    background-image: url("../images/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
}

.lThemeBg {
    background-color: var(--lThemeVLightGray);
    background-image: url("../images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
}

header {

}