@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brightBlue: hsl(220, 98%, 61%);
    --checkBg1: hsl(192, 100%, 67%);
    --checkBg2: hsl(280, 87%, 65%);

    --lThemeVLightGray: hsl(0, 0%, 98%);
    --lThemeVLightGrayBlue: hsl(236, 33%, 92%);
    --lThemeLightGrayBlue: hsl(233, 11%, 84%);
    --lThemeDarkGrayBlue: hsl(236, 9%, 61%);
    --lThemeVDarkGrayBlue: hsl(235, 19%, 35%);

    --dThemeVDarkBlue: hsl(235, 21%, 11%);
    --dThemeVDarkDesatBlue: hsl(235, 24%, 19%);
    --dThemeGrayBlue: hsl(234, 39%, 85%);
    --dThemeLightGrayBlue/*(hover)*/: hsl(236, 33%, 92%);
    --dThemeDarkGrayBlue: hsl(234, 11%, 52%);
    --dThemeVDarkGrayBlue1: hsl(233, 14%, 35%);
    --dThemeVDarkGrayBlue2: hsl(237, 14%, 26%);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.dThemeBg {
    background-color: var(--dThemeVDarkBlue);
    background-image: url("../images/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
}

.lThemeBg {
    background-color: var(--lThemeVLightGray);
    background-image: url("../images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

header span {
    letter-spacing: .5rem;
    font-weight: normal;
    font-size: 2rem;
    color: white;
    padding-top: 8px;
    margin: 2rem 0;
}

#toggleThemeButton {
    height: 30px;
    margin: auto 0;
}

form {
    width: 85%;
    height: 2.5rem;
    margin: 0 auto;
    display: flex;
    background-color: var(--dThemeVDarkDesatBlue);
    border-radius: 5px;
    padding-left: .35rem;
}

.checkbox {
    height: 1.15rem;
    width: 1.15rem;
    background-color: transparent;
    border: 1px solid var(--dThemeVDarkGrayBlue2);
    border-radius: 50%;
    margin: auto .75rem;
    padding: .25rem;
}

.checked {
    background: linear-gradient(135deg, var(--checkBg1), var(--checkBg2));
    content: url(../images/icon-check.svg);
}

form input {
    height: 2.5rem;
    background-color: transparent;
    border: none;
    color: var(--dThemeGrayBlue);
    font-size: .7rem;
}

form input::placeholder {
    color: var(--dThemeDarkGrayBlue);
}

form input:focus {
    outline: none;
}

#todoList {
    background-color: var(--dThemeVDarkDesatBlue);
}